<%- include('../partials/header') %>

<section id="content" class="container">
  <!-- Begin .page-heading -->
  <div class="page-heading">
    <div class="media clearfix">
      <div class="media-left pr30">
        <a href="#">
          <img class="media-object mw150" src="<%=user.avatar%>" alt="..." />
        </a>
      </div>
      <div class="flex-ctr">
        <button type="button" id="new-project-pp">+ Add Project</button>
      </div>
      <div class="media-body va-m">
        <h2 class="media-heading">
          <%=user.name%>
          <small><%=user.gitUsername%></small>
        </h2>
        <p class="lead">
          Lorem ipsum dolor sit amet ctetur adicing elit, sed do eiusmod tempor
          incididunt
        </p>
        <div class="media-links">
          <ul class="list-inline list-unstyled">
            <li>
              <a href="#" title="linkedin link">
                <span class="fa fa-linkedin-square fs35 text-info"></span>
              </a>
            </li>
            <li>
              <a href="#" title="github link">
                <span class="fa fa-github-square fs35 text-dark"></span>
              </a>
            </li>
            <li>
              <a href="#" title="external link">
                <span class="fa fa-external-link-square fs35 text-muted"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-block">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab1" data-toggle="tab">Your Projects</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">Your Bookmarks</a>
      </li>
      <li>
        <a href="#tab3" data-toggle="tab">Media</a>
      </li>
    </ul>
  
    <div class="tab-content">
      <div id="tab1" class="tab-pane active">
        <main class="flex-ctr">
          <div id="project-list">
            <% projects.forEach(function(project) { %>
                <div class="project-tile">
                  <h2><%= project.createdBy %></h2>
                  <p><%= project.description %></p>
                  <a href="<%= project.projectURL %>">View Project</a>
                </div>
            <% }); %>
          </div>
        </main>
      </div>
      <div id="tab2" class="tab-pane">
        <!-- bookmarks content -->
        <div id="tab2" class="tab-pane">
          <% user.savedProjects.forEach(function(project) { %>
            <div class="project-tile">
              <h2><%= project.title %></h2>
              <p><%= project.description %></p>
              <a href="<%= project.projectURL %>">View Project</a>
            </div>
          <% }); %>
        </div>
      </div>
      <div id="tab3" class="tab-pane">
        <!-- media content -->
      </div>
    </div>
  </div>

    <!-- <main class="flex-ctr">
        <div id="project-list">
          <% projects.forEach(function(project) { %>
            <div class="project-tile">
              <h2><%= project.createdBy %></h2>
              <p><%= project.description %></p>
              <a href="<%= project.projectURL %>">View Project</a>
            </div>
          <% }); %>
        </div>
      </main> -->
      

</section>

 
  <!-- NEW POST -->
  <form id="new-post" action="/projects" method="POST">
    <div class="bg-modal">
      <div class="modal-content">
        <div class="new-post-container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="cp">Create post</h1>
                            <button type="button" class="close">+</button>

              <div class="form-group has-error" name="name"><h2 class="cp2"><%=user.name%></h2>
                            </div>
            <div class="form-group has-error" name="gitUsername" >
            </div>

            <div class="form-group has-error" name="avatar"><img src="<%=user.avatar%>">
                        </div>

                        <div class="cp-fields">
                          <div class="form-group has-error">
                            <input type="text" name="projectURL" placeholder="Github project link" class="link">
                              <!-- <option>Select a Github project</option> -->
                            </select>
                          </div>


                <div class="form-group">
                  <input type="text"
                    rows="5"
                    class="form-control-description"
                    name="description"
                    placeholder="What's your project about?"
                  ></input>
                </div>
              </div>

                <div class="form-group">
                  <button type="submit" class="create">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

    <script>
        document.querySelector("#new-project-pp").addEventListener("click", function() {
            document.querySelector(".bg-modal").style.display = "flex"
        });
        document.querySelector(".close").addEventListener("click", hidePopup)
       
       
        document.querySelector("#new-post").addEventListener("submit", addNewPost)
        
        
        async function addNewPost(e) {
      // e.preventDefault();   
      let formData = new FormData(this);
  
      let object = {};
  
      formData.forEach(function(value, key){
        object[key] = value;
      });
  
      let json = JSON.stringify(object);
  
      try {
        const response = await fetch('/projects', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: json
        });
        
        const data = await response.json();
        console.log('Success:', data);
  
        hidePopup();
  
        let projectList = document.getElementById("project-list")
  
  let projectDiv = document.createElement("div");
projectDiv.classList.add("container", "mt-5", "mb-5");
projectDiv.innerHTML = `
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="proj card">
            <div class="d-flex justify-content-between p-2 px-3">
              <div class="d-flex flex-row align-items-center">
                <img src="${data.user.avatar}" width="50" class="rounded-circle">
                <div class="d-flex flex-column ml-2"> 
                  <span class="font-weight-bold">${data.user.name}</span> 
                  <small class="text-primary"><a href="${data.project.projectURL}">View Project</a></small> 
                </div>
              </div>
              <div class="d-flex flex-row mt-1 ellipsis">
                <small class="mr-2">${new Date().toLocaleString()}</small> 
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div> 
            <div class="p-2">
              <p class="text-justify">${data.project.description}</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row icons d-flex align-items-center">
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-smile-o ml-2"></i> 
                </div>
                <div class="d-flex flex-row muted-color">
                  <span>Comments</span>
                  <span class="ml-2">Bookmark</span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    `;
  
        projectList.prepend(projectDiv);
        location.reload();
  
      } catch (error) {
        console.error('Error:', error);
      }
    };

    window.onload = async function() {
      try {
        const response = await fetch('/projects');
        const data = await response.json();
  
        // data should be an array of projects
        data.forEach(project => {
          let projectList = document.getElementById("project-list")
  
          let projectDiv = document.createElement("div");
    projectDiv.classList.add("container", "mt-5", "mb-5");
    projectDiv.innerHTML = `
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="proj card">
            <div class="d-flex justify-content-between p-2 px-3">
              <div class="d-flex flex-row align-items-center">
                <img src="${data.user.avatar}" width="50" class="rounded-circle">
                <div class="d-flex flex-column ml-2"> 
                  <span class="font-weight-bold">${data.user.name}</span> 
                  <small class="text-primary"><a href="${data.project.projectURL}">View Project</a></small> 
                </div>
              </div>
              <div class="d-flex flex-row mt-1 ellipsis">
                <small class="mr-2">${new Date().toLocaleString()}</small> 
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div> 
            <div class="p-2">
              <p class="text-justify">${data.project.description}</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row icons d-flex align-items-center">
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-smile-o ml-2"></i> 
                </div>
                <div class="d-flex flex-row muted-color">
                  <span>Comments</span>
                  <span class="ml-2">Bookmark</span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    `;
  
          projectList.prepend(projectDiv);
        });
      } catch (error) {
        console.error('Error:', error);
      }
    }
    
    document.querySelector("#new-post").addEventListener("submit", addNewPost)
    
      function hidePopup() {
        document.querySelector(".bg-modal").style.display = "none";
      }
        
      </script> 

  <%- include('../partials/footer') %>