<%- include('../partials/header') %>

<body class="explore">
  <!--? USER PROFILE TILE -->

  <div class="container d-flex justify-content-center align-items-center">
    <div class="pp tile">
      <div class="upper">
        <img
          src="https://wallpaperaccess.com/full/39608.jpg"
          class="img-fluid"
        />
      </div>

      <div class="user text-center">
        <!-- <div class="profile"> -->

        <img src="<%=user.avatar%>" id="rounded-circle" width="80" />

        <!-- </div> -->
      </div>

      <div class="mt-5 text-center">
        <h4 class="mb-0">
          <a class="tile" href="/user/<%=user._id%>"><%=user.name%></a>
        </h4>
        <span class="text-muted d-block mb-2">@coderrJSmithy</span>

        <div class="item item-3">
          <h3 id="pp-tile-explore">Your Projects</h3>
        </div>
        <div class="item item-3">
          <h3 id="pp-tile-explore">Your Bookmarks</h3>
        </div>

        <button class="btn btn-primary btn-sm follow new-project">
          + Add Project
        </button>

        <div class="explore-logout">
          <a href="/" id="explore-logout-a">logout</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    document
      .querySelector("#new-project-pp")
      .addEventListener("click", function () {
        document.querySelector(".bg-modal").style.display = "flex";
      });
    document.querySelector(".close").addEventListener("click", hidePopup);

    document.querySelector("#new-post").addEventListener("submit", addNewPost);

    async function addNewPost(e) {
      e.preventDefault();

      let formData = new FormData(this);

      try {
        const response = await fetch("/projects", {
          method: "POST",
          body: formData,
        });

        const data = await response.json();
        console.log("Success:", data);

        hidePopup();

        let projectList = document.getElementById("project-list");

        let projectDiv = document.createElement("div");
        projectDiv.classList.add("project-tile");
        projectDiv.innerHTML = `
        <h2>${data.project.name}</h2>
        <p>${data.project.description}</p>
        <a href="${data.project.projectURL}">View Project</a>
    `;
        projectList.appendChild(projectDiv);
      } catch (error) {
        console.error("Error:", error);
      }
    }

    function hidePopup() {
      document.querySelector(".bg-modal").style.display = "none";
    }
  </script>

  <%- include('../partials/footer') %>
</body>
