<%- include('../partials/header') %>

<body class="explore">

  <!-- <nav class="hp-container">
    <div class="hp-nav">HOME</div >
    <div class="hp-nav">PROFILE</div >
    <div class="hp-nav">LOG OUT</div>
  </nav> -->

  <!--? USER PROFILE TILE -->

  <h1 id="hero-title">OPEN PROJEX OPEN PROJEX OPEN PROJEX</h1>

 
  <div class="container d-flex justify-content-center align-items-center">
             
    <div class="pp tile">

     <div class="upper">

       <!-- <img src="https://wallpaperaccess.com/full/39608.jpg" class="img-fluid"> -->
       
     </div>

     <div class="user text-center">

       <!-- <div class="profile"> -->

         <img src="<%=user.avatar%>" id="rounded-circle" width="80">
         
       <!-- </div> -->

     </div>


     <div class="mt-5 text-center">

       <h4 class="mb-0"><a class="tile PP" href="/user/<%=user._id%>"><%=user.name%></a></h4>
       <span class="text-muted d-block mb-2">@coderrJSmithy</span>

       
       <div class="item item-3">
          <h3 id="pp-tile-explore"><a class="YP" href="/user/<%=user._id%>">Your Projects</a></h3>
      </div>
      <div class="item item-3">
          <h3 id="pp-tile-explore"><a class="YB" href="/user/<%=user._id%>">Your Bookmarks</a></h3>
      </div>
   

       <button class="btn btn-primary btn-sm follow new-project">+ Add Project</button>

       <div class="explore-logout">
        <a href="/" id="explore-logout-a">logout</a>
       </div>
       
     </div>
      
    </div>

  </div>



  <!-- PROJECTS FEED -->

  <main class=" explore flex-ctr">
    <div id="project-list">
      <% projects.forEach(function(project) { %>
        <div class="project-tile">
          <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="proj card">
                        <div class="d-flex justify-content-between p-2 px-3">
                            <div class="d-flex flex-row align-items-center hp-nav"> <img src="<%=project.createdBy.avatar%>" width="50" class="rounded-circle">
                                <div class="d-flex flex-column ml-2"> <span class="font-weight-bold hp-nav"><%= project.createdBy ? project.createdBy.name : 'Unknown' %> </span> <small class="text-primary hp-nav"> <a href="<%= project.projectURL %>"><button class="goto-proj">Collaborate</button></a></small> </div>
                            </div>
                            <% if (currentUser && currentUser.id == project.createdBy._id) { %>
                              <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                                <button id="delete-proj" type="submit">X</button>
                              </form>
                            <% } %>
                            <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2"><%=project.timestamps%></small> <i class="fa fa-ellipsis-h"></i> </div>
                        </div> 
                        <div class="p-2">
                          <div class="p-content">
                            <p class="text-justify"><%=project.description%></p></div>
                            <!-- <hr> -->
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row icons d-flex align-items-center"> <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i> </div>
                              
                                <form action="/projects/like/<%= project._id %>" method="POST">
                                  <button type="submit" class="likebtn"><img id="like-button" data-project-id="<%= project._id %>" src="/images/like.png" alt="Like" style="cursor: pointer; width: 40px;"></button>
                                </form>
                                <!-- <p> <%= project.likes ? project.likes.length : 0 %></p> -->
                                <div class="d-flex flex-row muted-color">  <span class="ml-2"><a href="/projects/save/<%= project._id %>"><img id="bookmark-icon" src="/images/bookmark.png" data-project-id="<%= project._id %>" style="cursor:pointer;"></a></span> </div>
                            </div>
                            
                            <hr class="line">
                            <% project.comments.forEach(function(comment) { %>
                              <div class="comments">
                                <div class="d-flex flex-row mb-2"> 
                                  <div id="avatar-name">
                                  <img src="<%= comment.author.avatar %>" width="40" class="rounded-image">
                                  <div class="d-flex flex-column ml-2"> 
                                    <span class="name"><%= comment.author.name %></span> 
                                  </div>
                                  </div>
                                    <small class="comment-text"><%= comment.text %></small>
                                    <div class="comment d-flex flex-row align-items-center status"> 
                                    
                                      <small class="time"><%= comment.created_at %></small> 
                                      <% if (currentUser && currentUser.id == comment.author._id) { %>
                                        <form action="/projects/<%= project._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                          <button type="submit" class="del-comment">X</button>
                                        </form>
                                      <% } %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <% }); %>
                            <div class="comment-input">
                              <form action="/projects/<%= project._id %>/comments" method="POST">
                                <input type="text" name="text" class="form-control" placeholder="Share your comment here
                                ">
                                <button type="submit" id="comment-button"><img src="/images/send.png" class="comment-img"></button>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <% }); %>
    </div>
</main>

  <!-- NEW POST -->
  
  <form id="new-post" action="/projects" method="POST">
    <div class="bg-modal">
      <div class="modal-content">
        <div class="new-post-container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="cp">Create post</h1>
                            <button type="button" class="close">+</button>
<hr id="post">
              
            <!-- <div class="form-group has-error" name="gitUsername" >
            </div> -->
 <div id="np-icon">
            <div class="form-group has-error" name="avatar"><img class="cp-img" src="<%=user.avatar%>">
                        </div>

                        <div class="form-group has-error" name="name"><h2 class="cp2"><%=user.name%></h2>
                        </div>
                      </div>

                        <div class="cp-fields">
                          <div class="form-group has-error">
                            <input type="text" name="projectURL" placeholder="Github project link" class="link">
                              <!-- <option>Select a Github project</option> -->
                            </select>
                          </div>

                          <hr id="post2">

                <div class="form-group">
                  <input type="text"
                    rows="5"
                    class="form-control-description"
                    name="description"
                    placeholder="What's your project about?"
                  ></input>
                </div>
              </div>

                <div class="form-group">
                  <button type="submit" class="create">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  
  <script>
    // function for hiding popup
    function hidePopup() {
      document.querySelector(".bg-modal").style.display = "none";
    }
  
    // function for adding new post
    async function addNewPost(e) {
      // e.preventDefault();   
      let formData = new FormData(this);
  
      let object = {};
  
      formData.forEach(function(value, key){
        object[key] = value;
      });
  
      let json = JSON.stringify(object);
  
      try {
        const response = await fetch('/projects', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: json
        });
        
        const data = await response.json();
        console.log('Success:', data);
  
        hidePopup();
  
        let projectList = document.getElementById("project-list")
  
  let projectDiv = document.createElement("div");
projectDiv.classList.add("container", "mt-5", "mb-5");
projectDiv.innerHTML = `
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="proj card">
            <div class="d-flex justify-content-between p-2 px-3">
              <div class="d-flex flex-row align-items-center">
                <img src="${data.user.avatar}" width="50" class="rounded-circle">
                <div class="d-flex flex-column ml-2"> 
                  <span class="font-weight-bold">${data.user.name}</span> 
                  <small class="text-primary"><a href="${data.project.projectURL}">View Project</a></small> 
                </div>
              </div>
              <div class="d-flex flex-row mt-1 ellipsis">
                <small class="mr-2">${new Date().toLocaleString()}</small> 
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div> 
            <div class="p-2">
              <p class="text-justify">${data.project.description}</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row icons d-flex align-items-center">
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-smile-o ml-2"></i> 
                </div>
                <div class="d-flex flex-row muted-color">
                  <span>Comments</span>
                  <span class="ml-2">Bookmark</span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    `;
  
        projectList.prepend(projectDiv);
        location.reload();
  
      } catch (error) {
        console.error('Error:', error);
      }
    };
  
    // function to load all projects on page load
    window.onload = async function() {
      
      try {
        const response = await fetch('/projects');
        const data = await response.json();
  
        // data should be an array of projects
        data.forEach(project => {
          let projectList = document.getElementById("project-list")
  
          let projectDiv = document.createElement("div");
    projectDiv.classList.add("container", "mt-5", "mb-5");
    projectDiv.innerHTML = `
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="proj card">
            <div class="d-flex justify-content-between p-2 px-3">
              <div class="d-flex flex-row align-items-center">
                <img src="${data.user.avatar}" width="50" class="rounded-circle">
                <div class="d-flex flex-column ml-2"> 
                  <span class="font-weight-bold">${data.user.name}</span> 
                  <small class="text-primary"><a href="${data.project.projectURL}">View Project</a></small> 
                </div>
              </div>
              <div class="d-flex flex-row mt-1 ellipsis">
                <small class="mr-2">${new Date().toLocaleString()}</small> 
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div> 
            <div class="p-2">
              <p class="text-justify">${data.project.description}</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row icons d-flex align-items-center">
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-smile-o ml-2"></i> 
                </div>
                <div class="d-flex flex-row muted-color">
                  <span>Comments</span>
                  <span class="ml-2">Bookmark</span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    `;
  
          projectList.prepend(projectDiv);
        });
      } catch (error) {
        console.error('Error:', error);
      }
    }
    
    window.onload = function() {
    fetch('/api/user/repos')
      .then(response => response.json())
      .then(repos => {
        var select = document.getElementById('githubRepo');
        repos.forEach(repo => {
          var opt = document.createElement('option');
          opt.value = repo.html_url; 
          opt.innerHTML = repo.name; 
          select.appendChild(opt);
        });
      });
  };
    
//     async function deleteProject(e) {
//   e.preventDefault(); 

//   const id = e.target.elements['id'].value;

//   try {
//     const response = await fetch(`/projects/${id}?_method=DELETE`, {method: 'POST'});
//     const data = await response.json();
    
//     if(data.message) {
//       window.location.href = '/projects'; 
//     } else {
//       console.error(data.error);
//     }
//   } catch (error) {
//     console.error(error);
//   }
// };

    // Event Listeners
    document.querySelector(".new-project").addEventListener("click", function() {
        document.querySelector(".bg-modal").style.display = "flex"
        fetch(`https://api.github.com/users/${user.gitUsername}/repos`)
    .then(response => response.json())
    .then(data => {
      // assuming 'githubRepo' is an id of a select dropdown
      const select = document.getElementById('githubRepo');
      data.forEach((repo) => {
        var opt = document.createElement('option');
        opt.value = repo.html_url;
        opt.innerHTML = repo.name;
        select.appendChild(opt);
      })
    })
    .catch(error => console.error('Error:', error));
});
  
    document.querySelector(".close").addEventListener("click", hidePopup)
  
    document.querySelector("#new-post").addEventListener("submit", addNewPost)

    // document.querySelector('#delete-form').addEventListener('submit', deleteProject)

    let likeButton = document.getElementById('like-button');
let isLiked = localStorage.getItem('liked');  

function updateLikeButtonImage(isLiked) {
    likeButton.src = isLiked === 'true' ? "/images/liked.png" : "/images/like.png";
}

updateLikeButtonImage(isLiked);

likeButton.addEventListener('click', async function(e) {
  e.preventDefault();
  
  try {
    let response = await fetch(`/projects/like/${e.target.dataset.projectId}`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    });
    
    if (response.ok) {
      isLiked = isLiked !== 'true';
      localStorage.setItem('liked', isLiked);  
      updateLikeButtonImage(isLiked);
    }
  } catch (error) {
    console.error('Error:', error);
  }
});

bookmarkIcon.addEventListener('click', async function(e) {
  e.preventDefault();
  e.currentTarget.src = '/images/bookmarked.png';
  try {
    const response = await fetch(`/projects/save/${this.dataset.projectId}`, {
      method: 'POST'
    });

    const data = await response.json();
    console.log(data);
    
    if (data.isBookmarked) {
      e.currentTarget.src = '/images/bookmarked.png';
    } else {
      e.currentTarget.src = '/images/bookmark.png';
    }
  } catch (error) {
    console.error('An error occurred:', error);
  }
});
  
  </script>
  
</body>
<%- include('../partials/footer') %>