<%- include('../partials/header') %>

<body class="explore">
  <!--? USER PROFILE TILE -->
  <div class="container">
    <div class="item item 1">
      <div class="flex-ctr">
        <img class="pp" src="<%=user.avatar%>" />
        <h1><a href="/user/<%=user._id%>"><%=user.name%></a></h1>
      </div>
    </div>

    <div class="item item-2">
      <div class="flex-ctr">
        <h3 id="explore-gitusername">@coderrJSmithy</h3>
      </div>
    </div>

    <div class="item item-3">
      <div class="flex-ctr">
        <h3>Your Projects</h3>
      </div>
    </div>

    <div class="item item-4">
      <div class="flex-ctr">
        <h3>Your Bookmarks</h3>
      </div>
    </div>

    <div class="item item-5">
      <div class="flex-ctr">
        <button type="button" class="new-project">+ Add Project</button>
      </div>
    </div>
  </div>

  <!-- PROJECTS FEED -->

  <main class="flex-ctr">MAIN CONTENT</main>

  <!-- NEW POST -->
  <form id="new-post" action="/projects" method="POST">
    <div class="bg-modal">
      <div class="modal-content">
        <div class="new-post-container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1>Create post</h1>
              <button type="button" class="close">+</button>

              <h2><%=user.name%></h2>

                <div class="form-group has-error">
                  <input type="text" placeholder="Github project link" >
                </div>

                <!-- <div class="form-group">
                  <label for="title"
                    >Title <span class="require">*</span></label
                  >
                  <input type="text" class="form-control" name="title" />
                </div> -->

                <!-- <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    rows="5"
                    class="form-control"
                    name="description"
                  ></textarea>
                </div> -->

                <div class="form-group">
                    <!-- <input type="text" placeholder="What's your project about?" for="description"> -->
                    <textarea
                    rows="5"
                    class="form-control"
                    name="description"
                    placeholder="What's your project about?"
                  ></textarea>
                </div>


                <div class="form-group">
                  <button type="submit" class="create">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(".new-project").click(function () {
      $(".bg-modal").css("display", "flex");
    });
    $(".close").click(function () {
      $(".bg-modal").css("display", "none");
    });
    $(".create").click(function () {
      $(".bg-modal").css("display", "none");
    });

    $.ajax("/jquery/submitData", {
      type: "POST", // http method
      data: { myData: "This is my data." }, // data to submit
      success: function (data, status, xhr) {
        $("p").append("status: " + status + ", data: " + data);
      },
      error: function (jqXhr, textStatus, errorMessage) {
        $("p").append("Error" + errorMessage);
      },
    });
  </script>
</body>
<%- include('../partials/footer') %>
